<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/page.html :: head"></head>

<body>
<header th:replace="fragments/page.html :: header"></header>

<div class="container content">
    <section class="pb-4">
        <div class="bg-white border rounded-5">
            <section class="w-100 p-4" style="background-color: #eee; border-radius: .5rem .5rem 0 0;">
                <div class="row">
                    <div class="col-md-6 offset-3">
                        <div class="card">
                            <div class="card-body p-4">
                                <div class="row">
                                    <a href="/" class="text-decoration-none" style="color:#398378">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
                                            <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
                                        </svg>
                                        Back
                                    </a>
                                </div>
                                <div class="row justify-content-center">
                                    <img th:src="${'data:image/jpg;base64,' + {product.photo}}" style="width:200px;height:200px;">
                                </div>
                                <div class="row">
                                    <p th:inline="text">
                                        Name: [[${product.name}]]
                                    </p>
                                </div>
                                <div class="row">
                                    <p th:inline="text">
                                        Price: [[${product.price}]] €
                                    </p>
                                </div>
                                <div class="row">
                                    <p th:inline="text">
                                        Description: [[${product.description}]]
                                    </p>
                                </div>
                                <div class="row">
                                    <p th:inline="text">
                                        Dimensions: [[${product.dimensions}]]
                                    </p>
                                </div>
                                <div class="row">
                                    <p th:inline="text">
                                        Material: [[${product.materials}]]
                                    </p>
                                </div>
                                <div class="row">
                                    <p th:inline="text">
                                        Colour: [[${product.colour}]]
                                    </p>
                                </div>
                                <div class="row">
                                    <a th:href="@{/shopping-cart/add-product/{id}(id=${product.id})}"
                                       sec:authorize="isAuthenticated()" type="button" class="btn btn-primary">Add to Cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>
</div>
<footer th:replace="fragments/page.html :: footer"></footer>
</body>
</html>