<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/page.html :: head"></head>

<body>
<header th:replace="fragments/page.html :: header"></header>

<div class="container content">
    <br/>
    <br/>
    <div class="row">
        <div class="col-md-12">
            <form method="GET" th:action="@{/orders}">
                <div class="input-group">
                    <div class="form-outline">
                        <input type="search" id="search" name="search" class="form-control" style="width: 300px;"
                               placeholder="Search by order number"
                               th:value="${search}"/>
                    </div>
                    <button type="submit" class="btn btn-primary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                        </svg>
                    </button>
                    <a type="button" class="btn btn-outline-primary" th:href="@{/orders}">Clear</a>
                </div>
            </form>
        </div>

        <div class="row" th:if="${incorrect_number}">
            <p class="error">You can only search by order number.</p>
        </div>

        <div class="row" th:if="${empty_result}">
            <p class="alert-info">No results were found.</p>
        </div>

        <table class="table table-responsive table-striped">
            <thead>
            <tr>
                <th class="th-order">#</th>
                <th class="th-order">Client Name</th>
                <th class="th-order">Order Date</th>
                <th class="th-order">Address</th>
                <th class="th-order">Products</th>
                <th class="th-order">Status</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="order: ${orders}">
                <td class="td-order" th:text="${order.orderId}"></td>
                <td class="td-order" th:text="${order.user.getFirstName} + ' ' + ${order.user.getSecondName} "></td>
                <td class="td-order" th:text="${#dates.format(order.orderDate, 'dd-MMM-yyyy')}"></td>
                <td class="td-order" th:inline="text">
                    [[${order.shippingName}]]
                    <br/>
                    [[${order.shippingAddress}]]
                </td>
                <td class="td-order">
                    <div th:each="item: ${order.orderProductSet}">
                        <div th:text="${item.product.name} + ' x ' + ${item.quantity}"></div>
                    </div>
                </td>
                <td class="td-order" th:text="${order.status}"></td>
                <td>
                    <a th:href="@{/update-order/{id}(id=${order.orderId})}" type="button"
                       class="btn btn-outline-primary btn-block" style="display: block">Update</a>
                    <a th:href="@{/delete-order/{id}(id=${order.orderId})}" type="button"
                       class="btn btn-outline-danger btn-block" style="display: block">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<footer th:replace="fragments/page.html :: footer"></footer>
</body>
</html>