<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/page.html :: head"></head>

<body>
<header th:replace="fragments/page.html :: header"></header>
<div class="container content">
    <section class="pb-4">
        <div class="bg-white border rounded-5">
            <section class="w-100 p-4" style="background-color: #eee; border-radius: .5rem .5rem 0 0;">
                <div class="row">
                    <div class="col-md-6 offset-3">
                        <div class="card">
                            <div class="card-body p-4">
                                <div class="row">
                                    <div class="col">
                                        <h3 th:inline="text">Update order #[[${order.orderId}]] </h3>
                                        <br/>
                                        <form method="POST" th:action="@{/update-order}" enctype="multipart/form-data" th:object="${order}">
                                            <input type="hidden" th:field="*{orderId}">
                                            <div class="mb-3">
                                                <label for="date" class="form-label">Order placed</label>
                                                <input type="text" class="form-control"
                                                       th:placeholder="*{#dates.format(orderDate, 'dd-MMM-yyyy HH:mm')}" id="date" disabled>
                                            </div>
                                            <div class="mb-3">
                                                <label for="client" class="form-label">Client</label>
                                                <input type="text" class="form-control"
                                                       th:placeholder="*{user.firstName} + ' ' + *{user.secondName}" id="client" disabled>
                                            </div>
                                            <div class="mb-3">
                                                <label for="name" class="form-label">Shipping Name</label>
                                                <input type="text" class="form-control" th:field="*{shippingName}" id="name"
                                                       placeholder="Shipping name" th:readonly="*{#strings.equals(status, 'DELIVERED')}">
                                            </div>
                                            <div class="mb-3">
                                                <label for="address" class="form-label">Shipping Address</label>
                                                <input type="text" class="form-control" th:field="*{shippingAddress}" id="address"
                                                       placeholder="Shipping address" th:readonly="*{#strings.equals(status, 'DELIVERED')}">
                                                <div id="addressHelp" class="form-text">This is the delivery address</div>
                                            </div>
                                            <div class="mb-3">
                                                <label class="form-label">Products</label>
                                                <div th:each="item: *{orderProductSet}">
                                                    <div th:text="${item.product.name} + ' x ' + ${item.quantity}"></div>
                                                </div>
                                            </div>
                                            <div class="mb-3">
                                                <label for="total" class="form-label">Order Value</label>
                                                <input type="text" class="form-control" th:placeholder="*{#numbers.formatDecimal(totalValue,1,2,'POINT')}" id="total" disabled>
                                            </div>
                                            <div class="mb-3">
                                                <label for="status" class="form-label">Status</label>
                                                <select class="form-select" id="status" th:field="*{status}">
                                                    <option th:each="enum: ${statuses}" th:value="${enum}" th:text="${enum}">
                                                    </option>
                                                </select>
                                            </div>
                                            <br/>
                                            <button type="submit" class="btn btn-primary">Update Order</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>
</div>
<footer th:replace="fragments/page.html :: footer"></footer>
</body>
</html>