<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Final project</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
          crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
</head>

<body>
<header th:fragment="header" class="header">
    <div style="display: inline-block;">
        <a class="navbar-brand" href="#!"><img class="logo" src="../images/logo.png"/></a>
    </div>
    <div style="position: absolute; right: 75px; top: 25px" sec:authorize="isAuthenticated()">
        <a type="button" class="btn" th:href="@{/shopping-cart}" style="color: white">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-cart-fill" viewBox="0 0 16 16">
            <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
        </svg>
        </a>
    </div>
    <div style="position: absolute; right: 25px; top: 25px" sec:authorize="isAuthenticated()">
        <a type="button" class="btn" th:href="@{/logout}" style="color: white">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-door-open-fill" viewBox="0 0 16 16">
                <path d="M1.5 15a.5.5 0 0 0 0 1h13a.5.5 0 0 0 0-1H13V2.5A1.5 1.5 0 0 0 11.5 1H11V.5a.5.5 0 0 0-.57-.495l-7 1A.5.5 0 0 0 3 1.5V15H1.5zM11 2h.5a.5.5 0 0 1 .5.5V15h-1V2zm-2.5 8c-.276 0-.5-.448-.5-1s.224-1 .5-1 .5.448.5 1-.224 1-.5 1z"/>
            </svg>
        </a>
    </div>
    <div style="position: absolute; right: 25px; top: 25px;" sec:authorize="isAnonymous()">
        <a type="button" class="btn" th:href="@{/loginPage}" style="color: white">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
            </svg>
        </a>
    </div>
    <nav>
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a href="/">Home</a>
            </li>
            <li class="nav-item">
                <a th:href="@{/about}">About Us</a>
            </li>
            <li class="nav-item">
                <a th:href="@{/contact}">Contact</a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a th:href="@{/users}">Users</a>
            </li>
            <li class="nav-item" sec:authorize="hasAuthority('ADMIN')">
                <a th:href="@{/productList}">Products</a>
            </li>
            <li class="nav-item" sec:authorize="hasAuthority('ADMIN')">
                <a th:href="@{/orders}">Orders</a>
            </li>
        </ul>
    </nav>
</header>
<footer th:fragment="footer" class="footer">
    <p>&copy; Created by: Pirjol Adrian, Tudor Sulugiuc, Alexandra Ion</p>

</footer>
</body>
</html>