<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/page.html :: head"></head>

<body>
<header th:replace="fragments/page.html :: header"></header>

<div class="container content">
    <div class="row" th:if="${#lists.isEmpty(cart.shoppingCartProducts)}">
        <div class="col-md-6 offset-3">
            <h3>Your shopping cart is empty!</h3>
        </div>
    </div>
    <div th:unless="${#lists.isEmpty(cart.shoppingCartProducts)}" class="container">
        <br/>
        <br/>
        <form method="POST" th:action="@{/create-order}" th:object="${cart}" enctype="multipart/form-data">
            <input type="hidden" th:field="${cart.totalValue}">
            <section class="pb-4">
                <div class="bg-white border rounded-5">
                    <section class="w-100 p-4" style="background-color: #eee; border-radius: .5rem .5rem 0 0;">
                        <div class="row">
                            <div class="col">
                                <div class="card">
                                    <div class="card-body p-4">
                                        <div class="row">
                                            <div class="col-lg-7">
                                                <h5 class="mb-3">
                                                    <a href="/" class="text-decoration-none" style="color:#398378">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                                             fill="currentColor" class="bi bi-arrow-left-circle-fill"
                                                             viewBox="0 0 16 16">
                                                            <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
                                                        </svg>
                                                        Continue shopping
                                                    </a>
                                                </h5>
                                                <hr>
                                                <div class="d-flex justify-content-between align-items-center mb-4">
                                                    <div>
                                                        <p class="mb-1">Shopping cart</p>
                                                        <p class="mb-0" th:inline="text">You have
                                                            [[${#lists.size(cart.shoppingCartProducts)}]] products in
                                                            your cart</p>
                                                    </div>
                                                </div>
                                                <div class="card mb-3"
                                                     th:each="cartProduct, stat : *{shoppingCartProducts}"
                                                     th:with="total=${cartProduct.product.price}*${cartProduct.quantity}">
                                                    <input type="hidden"
                                                           th:field="*{shoppingCartProducts[__${stat.index}__].product.id}">
                                                    <input type="hidden"
                                                           th:field="*{shoppingCartProducts[__${stat.index}__].quantity}">
                                                    <div class="card-body">
                                                        <div class="d-flex justify-content-between">
                                                            <div class="d-flex flex-row align-items-center">
                                                                <div>
                                                                    <img th:src="*{'data:image/jpg;base64,' + {shoppingCartProducts[__${stat.index}__].product.photo}}"
                                                                         class="img-fluid rounded-3" alt="Shopping item"
                                                                         style="width: 65px;">
                                                                </div>
                                                                <div class="ms-3">
                                                                    <h5 th:text="${cartProduct.product.name}"></h5>
                                                                    <!-- <p class="small mb-0" th:text="${cartProduct.product.description}"></p>-->
                                                                </div>
                                                            </div>
                                                            <div class="d-flex flex-row align-items-center">
                                                                <div style="width: 50px;">
                                                                    <h5 class="fw-normal mb-0"
                                                                        th:text="${cartProduct.quantity}"></h5>
                                                                </div>
                                                                <div style="width: 80px;">
                                                                    <h5 class="mb-0"
                                                                        th:text="${#numbers.formatDecimal(total,1,2,'POINT')}"></h5>
                                                                </div>
                                                                <a th:href="@{/shopping-cart/remove-product/{id}(id=${cartProduct.product.id})}"
                                                                   style="color: #cecece;">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                                                         height="16" fill="currentColor"
                                                                         class="bi bi-trash-fill" viewBox="0 0 16 16">
                                                                        <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                                                                    </svg>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-5">

                                                <div class="card text-white rounded-3"
                                                     style="background-color: #1d423c;">
                                                    <div class="card-body">
                                                        <div class="d-flex justify-content-between align-items-center mb-4">
                                                            <h5 class="mb-0">Order details</h5>
                                                        </div>

                                                        <div class="mb-3">
                                                            <label for="shippingName" class="form-label">Delivery
                                                                Name</label>
                                                            <input type="text" class="form-control"
                                                                   th:value="${loggedInUser.firstName} + ' ' + ${loggedInUser.secondName}"
                                                                   name="shippingName" id="shippingName">
                                                        </div>

                                                        <div class="mb-3">
                                                            <label for="shippingAddress" class="form-label">Delivery
                                                                Address</label>
                                                            <input type="text" class="form-control"
                                                                   th:value="${loggedInUser.address}"
                                                                   name="shippingAddress" id="shippingAddress">
                                                        </div>

                                                        <hr class="my-4">

                                                        <div class="d-flex justify-content-between mb-4">
                                                            <p class="mb-2">Total Value</p>
                                                            <p class="mb-2"
                                                               th:text="${#numbers.formatDecimal(cart.totalValue,1,2,'POINT')}"></p>
                                                        </div>

                                                        <button type="submit" class="btn btn-outline-primary-white">
                                                            Place Order
                                                        </button>

                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </section>
        </form>
    </div>
</div>
<footer th:replace="fragments/page.html :: footer"></footer>
</body>
</html>