html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    display: block;
    background-color: #398378;
    text-align: center;
}

.logo {
    height: 100px;
}

li > a:hover {
    background-color: white;
    color: #398378;
}

nav ul li a {

    display: inline-block;
    padding: 15px 15px 10px 10px;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    color: aliceblue;


}

nav ul li {
    display: inline-block;
}

.last-nav {
    float: right;
    margin: 12px 15px;

}

.search-div {
    display: block;

    margin-top: 9px;
}

footer {
    padding-left: 25px;
    display: block;
    background-color: rgb(51, 51, 114);

}

.footer-text {
    display: inline;
    color: aliceblue;
    text-align: left;
    padding-right: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.footer-text {
    padding-bottom: 10px;

}


article {
    margin: 10px;
    /*background-color: #bde0ec;*/
    width: 90%;
    max-width: 400px;
    border: 5px solid rgb(51, 51, 114);
    border-radius: 35px;
    padding: 25px;
    display: inline-block;
    vertical-align: top;
    opacity: 1;


}

article img {
    width: 100%;
    /*height: 500%;*/
}

article p {
    color: grey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: none;
}

/*article:hover p{
    display:block;
}*/
article:hover {
    box-shadow: 10px 10px 20px rgb(51, 51, 114);
    opacity: 1;
}

article div {
    color: red;
}

.produs {
    font-weight: bold;
    color: black;
}


div#title.produs {
    font-size: larger;
}

td img {
    width: auto;
    height: auto;
}

#addToCart {
    text-align: end;
}

.coloana1_contac {


    text-align: center;

}

.error {
    color: red;
}


.table-clients {
    display: block;
    text-align: center;
    padding: 25px 25px 25px 25px;
}

.btn {
    text-align: center;
}

footer {
    display: block;

    bottom: 0;
    margin-top: 25px;
    width: 100%;
    left: 0;
    bottom: 0;
}

.button-add-client-employee {
    display: block;
    padding: 20px 20px 20px 20px;
}

table, th, td {

    text-align: center;

}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    background-color: transparent;
    width: 33%; /*/ Modificare rezolutie chenar cu tot cu poza/*/
    height: 400px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
    display: block;
    position: relative;
    float: left;
}

/* Remove this if you don't want the 3D effect */


/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
    background-color: white;
    color: black;
}

/* Style the back side */
.flip-card-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
    padding: 10px;
    overflow: scroll;
}

.login {
    display: block;
    position: relative;
    float: right;
}

.wrapper {
    min-height: 100%;

    /* Equal to height of footer */
    /* But also accounting for potential margin-bottom of last child */
    margin-bottom: -100px;
}

.content {
    flex: 1 0 auto;
}
.footer {
    flex-shrink: 0;
    text-align: center;
    background-color: #398378;
}
.footer > p{
    line-height: 100px;
    color: aliceblue;
    margin-bottom: 0;
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #398378;
    --bs-btn-border-color: #398378;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #33766c;
    --bs-btn-hover-border-color: #285c54;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #33766c;
    --bs-btn-active-border-color: #285c54;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #398378;
    --bs-btn-disabled-border-color: #398378;
}

.btn-outline-primary {
    --bs-btn-color: #398378;
    --bs-btn-border-color: #398378;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #398378;
    --bs-btn-hover-border-color: #398378;
    --bs-btn-focus-shadow-rgb: 13,110,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #398378;
    --bs-btn-active-border-color: #398378;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #398378;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #398378;
    --bs-gradient: none;
}

.btn-outline-primary-white {
    --bs-btn-color: #398378;
    --bs-btn-border-color: #398378;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #398378;
    --bs-btn-hover-border-color: #398378;
    --bs-btn-focus-shadow-rgb: 13,110,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #398378;
    --bs-btn-active-border-color: #398378;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #398378;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #398378;
    --bs-gradient: none;
}

.home-product {
    display: flex;
    justify-content: center;
}

.home-product-img {
    max-width:100%;
    max-height:100%;
    margin: auto;
}