<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/page.html :: head"></head>

<body>
<header th:replace="fragments/page.html :: header"></header>
<img style="width:100%;" id="image" src="../images/home.jpeg">
<div class="container content">
    <div class="row mt-5">
        <div class="col-md-12" style="text-align: center">
            <h1>Our <span style="color:#398378">products </span></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 home-product p-3" th:each="product: ${products}">
            <a th:href="@{/product/{id}(id=${product.id})}" style="max-width: 100%;max-height: 100%;margin: auto;">
                <img th:src="*{'data:image/jpg;base64,' + {product.photo}}" class="home-product-img">
            </a>
        </div>
    </div>
</div>

<!--Update Alex-->
</div>
<!--<div sec:authorize="hasAuthority('USER')">Text visible to user.</div>
<div sec:authorize="hasAuthority('ADMIN')">Text visible to admin.</div>
<div sec:authorize="isAuthenticated()">Text visible only to authenticated users.</div>-->


<footer th:replace="fragments/page.html :: footer"></footer>
</body>
</html>